@font-face {
    font-family: "ravi";
    font-style: normal;
    font-weight: 100;
    src: url('/public/assets/fonts/ravi/Ravi FA-EN 01 Thin.ttf') format('truetype');
    font-display: block;

}

@font-face {
    font-family: "ravi";
    font-style: normal;
    font-weight: 300;
    src: url('/public/assets/fonts/ravi/ FA-EN 02 Light.ttf') format('truetype');
    font-display: block;

}

@font-face {
    font-family: "ravi";
    font-style: normal;
    font-weight: normal;
    src: url('/public/assets/fonts/ravi/Ravi FA-EN 03 Regular.ttf') format('truetype');
    font-display: block;

}

@font-face {
    font-family: "ravi";
    font-style: normal;
    font-weight: 500;
    src: url('/public/assets/fonts/ravi/Ravi FA-EN 04 Medium.ttf') format('truetype');
    font-display: block;

}

@font-face {
    font-family: "ravi";
    font-style: normal;
    font-weight: 600;
    src: url('/public/assets/fonts/ravi/Ravi FA-EN 05 SemiBold.ttf') format('truetype');
    font-display: block;

}


@font-face {
    font-family: "ravi";
    font-style: normal;
    font-weight: bold;
    src: url('/public/assets/fonts/ravi/Ravi FA-EN 06 Bold.ttf') format('truetype');
    font-display: block;

}

@font-face {
    font-family: "ravi";
    font-style: normal;
    font-weight: 800;
    src: url('/public/assets/fonts/ravi/Ravi FA-EN 07 ExtraBold.ttf') format('truetype');
    font-display: block;

}

@font-face {
    font-family: "ravi";
    font-style: normal;
    font-weight: 900;
    src: url('/public/assets/fonts/ravi/Ravi FA-EN 08 Black.ttf') format('truetype');
    font-display: block;

}